.m-t-1 {
  margin-top: 1rem;
}

.m-t-1_25 {
  margin-top: 1.25rem;
}

.m-t-1_5 {
  margin-top: 1.5rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-t-4 {
  margin-top: 4rem;
}

.m-l-1 {
  margin-left: 1rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}
