.webcheck-details {
  background-color: $grey-9;

  > div {
    padding: 1rem 0;
  }

  h6 {
    color: $grey-4;
    font-size: 1rem;
    font-weight: $font-light;
  }

  pre {
    margin: 0;
    color: $grey-2;
  }

  .logs {
    padding-top: 1rem;
    border-top: 1px solid $blue-lighter;
    margin-top: 1rem;

    h6 {
      margin-top: 1.25rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.response-test-reqres {
  background-color: $grey-9;

  h6 {
    color: $grey-4;
    font-size: 1rem;
    font-weight: $font-light;
  }

  pre {
    margin: 0;
    color: $grey-2;
  }

  > div {
    padding: 1rem 0;
  }

  .left {
    border-right: 1px solid $grey-7;
  }

  .col-6 {
    overflow: auto;
  }
}
